/** {*/
    /*border: 1px solid red;*/
/*}*/
body {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.profile {
    padding: 10px 15% 10px 15%;
    margin: 60px 0 0 0 ;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
}

.left-bar{
    display: inline-block;
    float: left;
    width: 250px;
    padding: 0 30px 0 0;
    height: auto;
}

.name {
    display: block;
    font-weight: bold;
    font-size: 26px;
}

.repo {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    /*padding: 30px 0 30px 0;*/
}

.repo-name{
    display: block;
    font-size: 23px;
    padding: 1em 0 1em 0;
}

.repo-description{
    font-size: 19px;
    padding: 0 0 1em 0;
}
.repo-updated{
    display: block;
    padding: 1em 0 1em 0;
}

.repos {
    display: inline-block;
    width: 60%;
}
#avatar{
    border-radius: 6px;
    height: 230px;
    width: 230px;
}

#login {
    color: lightgray;
    font-size: 20px;
    margin: 0 0 18px 0;
}

#info {
    list-style: none;
    text-align: left;
    width: 100%;
}
